@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 1rem === 10px */
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131c20;
  overflow-x: hidden;
  color: white;
  /* font-family: 'Roboto Condensed', sans-serif; */
}
/* setting */
li {
  list-style: none;
}
a {
  text-decoration: none;
  padding: 1rem;
}
.content {
  padding: 2rem;
  margin-top: 6rem;
}
.search-fiald {
  width: 35%;
  padding: 0.2rem 1rem;
  font-size: 2.5rem;
  border: none;
  border-bottom: 2px solid #bd3b70;
  background-color: transparent;
  outline: none;
  color: rgb(117, 112, 112);
  font-family: "Roboto Condensed", sans-serif;
}
.search-fiald:focus {
  border-bottom: 4px solid #cc14cc;
  color: white;
}

#btn-serach {
  padding: 0.6rem 3.7rem;
  font-size: 2rem;
  background-color: #bd3b70;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
}
#btn-serach:hover {
  background-color: #cc14cc;
}
.result {
  position: relative;
  min-height: 100vh;
}
.spinner-border {
  position: absolute;
  top: 20%;
  padding: 2.5rem;
  font-size: 10rem;
  color: #cc14cc;
}
.active {
  display: none;
}

.list-group {
  font-size: 1.9rem;
}
.list-group li {
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.list-group li:hover {
  background-color: #131c25;
}
.list-group li > a {
  text-decoration: none;
  color: #bd3b70;
}
.list-group li:hover a {
  font-size: 1.98rem;
  color: #cc14cc;
}
.right-side {
  text-align: center;
}
.right-side h1 {
  font-size: 4rem;
  color: #cc14cc;
}
.right-side em {
  font-size: 2rem;
}
.right-side small {
  font-size: 2rem;
}

.img-side {
  width: 100%;
}
.price-green {
  color: #2cde6d !important;
}
.price-red {
  color: #ff0044 !important;
}
.footer {
  min-height: 10vh;
  background-color: #131c19;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-group-item-action img {
  width: 40px;
  border-radius: 100%;
}
.links {
  font-size: 3rem;
}
.links li i {
  color: white;
}
.symbol {
  color: #ac86b7;
  font-weight: 700;
}
.news {
  position: fixed;
  top: 0;
  right: -200rem;
  font-size: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
  animation: newsMove 20s linear infinite;
  z-index: 100;
}

.stock-price {
  display: flex;
  align-items: center;
  background-color: #131c19;
}
.stock-price li {
  padding: 0 1rem;
}
.stock-price span {
  color: #2cde6d;
}
.background {
  background-color: #fdf48d;
}

@media (max-width: 80rem) {
  .search-fiald {
    width: 75%;
  }
  .list-group {
    font-size: 1.8rem;
  }
  .list-group li:hover a {
    font-size: 1.8rem;
  }
  .result-list {
    text-align: center;
  }
  .links li span {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column-reverse;
  }
  .text em,
  .text small {
    display: none;
  }
}
@keyframes newsMove {
  100% {
    transform: translateX(-200rem);
  }
}
